<div class="navbar bg-base-100 p-6">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">Tomi Ghita</a>
    </div>
    <div class="navbar-center">
        <ol class="flex gap-6 list-decimal list-inside marker:text-secondary">
            <li class="hover:text-secondary transition-colors">
                <a href="#about_me">
                    About me
                </a>
            </li>
            <li class="hover:text-secondary transition-colors">
                <a href="#work_experience">
                    Work experience
                </a>
            </li>
            <li class="hover:text-secondary transition-colors">
                <a href="">
                    Projects
                </a>
            </li>
            <li class="hover:text-secondary transition-colors">
                <a href="">
                    Get in touch
                </a>
            </li>
        </ol>
    </div>
    <div class="navbar-end">
        <a class="btn btn-primary btn-outline">Resume</a>
    </div>
</div>